<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/headerlinks.ejs") %>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

   <!--Main header-->
   <div class="container-fluid  main_header">
    <div class = "row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center ">
                    <figure >
                        <img src="images/about.jpeg" alt="Nisha" class="img-fluid" id="about" title="Nisha Singh">
                       </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left ">
                    <p>Welcome to my Weather app</p>
                    <h1>I am a<span class="text-clr"> MERN Stack Developer</span> and a freelancer</h1>
                    <a href="https://www.linkedin.com/in/nisha-singh-0506/" target="_blank"><button>Check my profile</button></a>
                </div>
                
            </div>
        </div>
    </div>
   </div>
   
   <!--Footer section-->
   <%- include("partials/footer.ejs") %>
</body>
</html>